html, body {
                background-image: url(../images/student1.jpg);
                background-size: cover;
                background-attachment: fixed;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                width: 100%;
                margin: 0;
            }
            .signup-button{
                width: 170px;
                height: 50px;
                margin:auto;
                margin-top: 50px;
                border: 1px solid #00a8ff;
                padding-top: 8px;
                color: white;


            }
            .signup-button:hover{
                border: 2px solid #00a8ff;
                box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.75);
                color: white;
                background-color:#00a8ff;
                

            }

            .signup-button a{
               
                font-size:20px;


                
            }
            .signup-button a:hover{
                text-decoration: none;
                color: #fff;
                font-size:20px;       
            }
            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }
            .banner{
                background-image: url(../images/bg2.jpg);
                background-size:cover; 
            }
             .banner-home{
                background-image: url(../images/bg2.jpg);
                background-size:cover; 
            }

            .title {
                font-size: 65px;
                color:#00a8ff;
            }

            .m-b-md {
                margin-bottom: 100px;
            }

.nav-item .nav-link{
	font-size: 15px;
	color: #222f3e;
	
}            
.container-login, .container-register{
	background-image: url(../images/bg2.jpg);
	background-size: cover;
	height: 100vh;
	/*width: 100%;*/

}
.card{
	margin-top: 60px;
}
.card-header{
	background:#54a0ff;
	color: #fff;
}
.card-body{
	background-color: #bdc3c7;
	color: #fff;

}
.exam-schedule {
    color:#0984e3;
    /*background-image: url(../images/sched.jpg);
    background-size: cover;
    background-attachment: fixed;*/
    
}
.btn-add{
    background-color: rgb(1, 139, 252);
    color: #fff !important;
    margin-bottom: 5px;
    /*margin-left: -10px;*/
   
}
.schedule-form, .records{
    padding-top: 30px;
    background: rgba(0,0,0,0.8);
    
}
.thead{
    
    background-color: skyblue;
}
.tbody{
    color: #fff;
}
.student-record{
    color:#0984e3;
    
}

.btn-record{
    background-color: rgb(1, 139, 252);
    color: #fff !important;
    margin-bottom: 5px;
    margin-left: 380px;
    width: 180px;;

}
.edit-record{
    color:#0984e3;
    background-image: url(../images/student1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.editschedule{
    background-color: gray !important;
}